.navigations {
    position: fixed;
    bottom: 10px;
    /* display:flex;
    justify-content: center;
align-items: center; */
width: 100%;
/* max-width: 400px; */
   
}
    
.wrapper {
display:flex;
gap:10px;
justify-content: center;
align-items: center;
}

.button {
    background-color: #ffc843;
    opacity: 30%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #161616;
    min-width: 100px;
    border: 1px solid #161616;
    /* transition: all 0.3s ease; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.buttonActive {
    background-color: #ffc843;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #161616;
    min-width: 100px;
    border: 1px solid #161616;
    /* transition: all 0.3s ease; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.btnIcon {
    width: 30px;
    height: 30px;
    
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
}